Flask==3.0.0
Flask-CORS==4.0.0
gunicorn==21.2.0
requests==2.31.0
ffmpeg-python==0.2.0
python-dotenv==1.0.0
celery==5.3.4
redis==5.0.1
opencv-python==4.8.1.78
Pillow==10.1.0
pytesseract==0.3.10
python-json-logger==2.0.7
werkzeug==3.0.1
urllib3==2.1.0
marshmallow==3.20.1
